@charset "UTF-8";

/* 나눔스퀘어 폰트 굵기별 스타일
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*height: 10000px;*/
}
a {
  text-decoration: none;
  color: inherit;
}
ol, li {
  list-style: none;
}
#main_banner {
  width: 100%;
  height: 966px;
  background-image: url(../img/main/main_banner01.png);
  background-size: cover;
  background-position: center;
  /*background-color: lightblue;*/
  position: relative;
}
header {
  width: 100%;
  height: 88px;
  /*background-color: lightcoral;*/
  padding: 15px 70px 10px 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* 이 숫자가 클수록 다른 요소보다 화면 앞쪽(위)에 위치하게 됩니다. */
}
header>a {
  width: 177px;
  height: 63px;
  margin-right: 47px;
  /*background-color: aqua;*/
  float: left;
  background-image: url(../img/etc/header_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0px;
}
/*메인메뉴 네비*/
header .mainMenu_n1 {
  width: 281px;
  height: 63px;
  line-height: 63px;
  /*background-color: lightgreen;*/
  display: inline-block;
}
header .mainMenu_n1 ul {
  width: 281px;
  height: 63px;
  display: flex;
  justify-content: space-between;
}
header .mainMenu_n1 ul li {
  font-size: 15px;
  font-family: 'NanumSquareBold';
  /*background-color: lightsalmon;*/
  float: left;
  margin-top: 5px;
}

/*로그인&회원가입*/
header .mainMenu_n2{
  width: 183px;
  height: 63px;
  line-height: 63px;
  /*background-color: lightgreen;*/
  display: inline-block;
  float: right;
}
header .mainMenu_n2 ul {
  width: 183px;
  height: 63px;
  display: flex;
  justify-content: space-between;
}
header .mainMenu_n2 ul li {
  font-size: 15px;
  font-family: 'NanumSquareBold';
  /*background-color: lightsalmon;*/
  float: left;  
  margin-top: 5px;
}
header .mainMenu_n2 ul li:nth-of-type(3) img {
  margin-top: 20px;
}


/* 햄버거 버튼 (데스크탑에서는 숨김) */
.hamburger {
  display: none; /* 기본적으로 안 보임 */
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%; /* 로고 높이에 맞춰 적절히 조절 */
  right: 5%;
  cursor: pointer;
  z-index: 1001;
  /*border: 1px solid;*/
}

.hamburger span {
  display: inline-block;
  position: absolute;
  width: inherit;
  height: 5px;
  background-color: #333; /* 햄버거 버튼 색상 */
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease; /* 부드러운 애니메이션 */
}

.hamburger span::before,
.hamburger span::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #333;
  border-radius: 3px;
  transition: 0.3s ease; /* 부드러운 애니메이션 */
}
.hamburger span::before {
  top: -10px;
}
.hamburger span::after {
  top: 10px;
}

/* 버튼 활성화 시 효과 */
.hamburger.active span {
  background-color: transparent;
}
.hamburger.active span::before {
  top: 0px;
  transform: rotate(45deg);
}
.hamburger.active span::after {
  top: 0px;
  transform: rotate(-45deg);
}


/*상단 배너 안 문구*/
.banner_text {
  /*background-color: aqua;*/
  position: absolute;
  top: 301px;
  left: 193px;
}
.banner_text p:nth-of-type(1) {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  color: #404040;
}
.banner_text h1 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
  color: #000;
}
.banner_text p:nth-of-type(2) {
  font-family: 'NanumSquareBold';
  font-size: 24px;
  color: #000;
  margin-top: 50px;
  margin-left: 10px;
}

/*컨텐츠 1*/
#content01 {
  width: 100%;
  height: 614px;
  padding: 150px 0px;
  /*background-color: aqua;*/
}
.line {
  width: 1px;
  height: 84px;
  background-color: #ccc;
  margin: 0 auto;
}
#content01 p:nth-of-type(1) {
  width: 394px;
  height: 68px;
  margin: 9px auto;
  padding: 10px;
  text-align: center;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  /*background-color: aliceblue;*/
}
#content01 p:nth-of-type(2) {
  height: 128px;
  padding: 10px 0px;
  text-align: center;
  font-family: 'NanumSquareBold';
  font-size: 18px;
  line-height: 150%;
  color: #404040;
  /*background-color: aliceblue;*/
}

/*컨텐츠 2*/
#content02 {
  width: 100%;
  height: 969px;
  padding: 100px 70px;
  background-color: #F0ECEA;
}
/*타이틀 제목*/
#content02 .title {
  height: fit-content;
  /*background-color: lightblue;*/
  position: relative;
}
#content02 .title h4 {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  color: #385723;
}
#content02 .title h2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}
#content02 .title a {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  text-decoration: underline;
  position: absolute;
  bottom: 5px;
  right: 0;
}
/*컨텐츠 2 내용*/
#content02 .wrap {
  height: 645px;
  margin-top: 50px;
  /*background-color: aquamarine;*/
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#content02 .card {
  flex: 1;
  /*width: 422.5px;*/
  /*background-color: lightcoral;*/
}
#content02 .image {
  width: 100%;
  height: 509px;
  margin-bottom: 30px;
  background-color: #FDFCFD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content02 .n1 .image { background-image: url(../img/etc/lotion.png); }
#content02 .n2 .image { background-image: url(../img/etc/wash.png); }
#content02 .n3 .image { background-image: url(../img/etc/room_spray.png); }
#content02 .n4 .image { background-image: url(../img/etc/candle.png); }

/*카드 내 텍스트*/
#content02 .card p:nth-of-type(1) {
  font-family: 'NanumSquareBold';
  font-size: 14px;
  color: #385723;
  text-align: center;
}
#content02 .card p:nth-of-type(2) {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 10px 0px 30px;
}
#content02 .card p:nth-of-type(3) {
  font-family: 'NanumSquareBold';
  font-size: 20px;
  text-align: center;
}

/*컨텐츠 3*/
#content03 {
  width: 100%;
  height: 992px;
  padding: 150px 70px;
  /*background-color: lightblue;*/
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
/*타이틀 제목 및 내용*/
#content03 .title {
  flex: 0 0 calc(479 / 1780 * 100%);
  /*width: 479px;*/
  height: fit-content;
  margin-right: 70px;
  margin: auto 0px;
  /*background-color: lightcoral;*/
}
#content03 .title h4{
  font-family: 'NanumSquareBold';
  font-size: 16px;
  color: #385723;
}
#content03 .title h2:nth-of-type(1) {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
}
#content03 .title h2:nth-of-type(2) {
  font-family: 'NanumSquareBold';
  font-size: 48px;
  margin-bottom: 45px;
}
#content03 .title h3{
  font-family: 'NanumSquareBold';
  font-size: 20px;
  line-height: 150%;
  color: #404040;
  margin-bottom: 100px;
}
#content03 button {
  /*width: 319px;*/
  /*height: 54px;*/
  padding: 15px 50px;
  background-color: #385723;
  border: none;
  cursor: pointer;
}
#content03 button a {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  color: #fff;
}
/*우측 이미지*/
#content03 .img {
  flex: 0 0 calc(1219 / 1780 * 100%);
  height: 100%;     /* 692px */
  background-image: url(../img/main/main_img01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*컨텐츠 4*/
#content04 {
  width: 100%;
  height: 1142px;
  padding: 150px 70px;
  background-color: #F0ECEA;
}
/*타이틀 제목*/
#content04 .title {
  height: 105px;
  margin-bottom: 83px;
  text-align: center;
}
#content04 .title h2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}
#content04 .title h3 {
  font-family: 'NanumSquareBold';
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1%;
  color: #404040;
}
/*컨텐츠 4 내용*/
#content04 .wrap {
  height: 654px;
  /*background-color: lightblue;*/
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
#content04 .category {
  flex: 1;
  background-color: #fff;
  position: relative;
}
#content04 .category h2 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 40px;
  color: #141513;
  margin-bottom: 20px;
}
#content04 .category p {
  font-family: 'NanumSquareBold';
  font-size: 18px;
  text-decoration: underline;
}
#content04 .category div  {
  position: absolute;
  left: 63px;
  top: 507px;
}
#content04 .n1 {
  background-image: url(../img/main/main_img03.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content04 .n2 {
  background-image: url(../img/main/room_spray.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content04 .n3 {
  background-color: #D0CFD0;
  background-image: url(../img/main/candle.png);
  background-size: cover;
  background-position: center -100px;
  background-repeat: no-repeat;
}

/*컨텐츠 5*/
#content05 {
  width: 100%;
  height: 962px;
  padding: 150px 70px;
  /*background-color: lightblue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
}
/*좌측 이미지*/
#content05 .img {
  flex: 0 0 calc(1169 / 1780 * 100%);
  /*width: 1169px;*/
  height: 100%;
  background-image: url(../img/main/main_img02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 50px;
}
/*타이틀 제목 및 내용*/
#content05 .title {
  flex: 0 0 calc(556 / 1780 * 100%);
  /*width: 556px;*/
  height: fit-content;
  padding-right: 30px;
  margin: auto 0px;
  /*background-color: lightcoral;*/
  
}
#content05 .title h4{
  font-family: 'NanumSquareBold';
  font-size: 16px;
  color: #123264;
}
#content05 .title h2 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 45px;
}
#content05 .title h3{
  font-family: 'NanumSquareBold';
  font-size: 20px;
  line-height: 150%;
  color: #404040;
  margin-bottom: 100px;
}
#content05 button {
  /*width: 319px;*/
  /*height: 54px;*/
  padding: 15px 50px;
  background-color: #123264;
  border: none;
  cursor: pointer;
}
#content05 button a {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  color: #fff;
}

/*컨텐츠 6*/
#content06 {
  width: 100%;
  height: 855px;
  padding: 120px 70px;
  background-color: #F0ECEA;
}
/*타이틀 제목*/
#content06 .title {
  height: 60px;
  /*background-color: lightblue;*/
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;  
}
#content06 .title h2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}
#content06 .title h3 {
  font-family: 'NanumSquareBold';
  font-size: 20px;
  color: #404040;
}
/*컨텐츠 6 내용*/
#content06 .wrap {
  height: 505px;
  /*background-color: #fff;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#content06 .card {
  flex: 1;
  height: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  /*background-color: lightcoral;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
#content06 .card p:nth-of-type(1) {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  color: #404040;
  margin-bottom: 10px;
}
#content06 .card p:nth-of-type(2) {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 40px;
}
#content06 .card p:nth-of-type(3) {
  font-family: 'NanumSquareBold';
  font-size: 20px;
  color: #848484;
  line-height: 150%;
}
#content06 .n2 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/*컨텐츠 7*/
#content07 {
  width: 100%;
  height: 1062px;
  padding: 100px 0;
 /* background-color: lightblue;*/
}
/*타이틀 제목*/
#content07 .title {
  padding: 10px 0px;
  text-align: center;
  /*background-color: lightcoral;*/
  margin-bottom: 80px;
}
#content07 .title p {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  color: #404040;
  margin-bottom: 5px;
}
#content07 .title h2 {
  font-family: 'NanumSquareBold';
  font-size: 40px;
}

/*콘텐츠 7 내용*/
#content07 .wrap {
  height: 675px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
#content07 .card {
  flex: 0 0 calc(466 / 1920 * 100%);
  /*width: 466px;*/
  height: 675px;
  padding: 20px;
  border: 1px solid #ccc;
  /*background-color: lightgreen;*/
}
#content07 .card .img {
  width: 100%;
  height: 428px;
  background-color: #fff;
  margin-bottom: 40px;
}
#content07 .n1 .img {
  background-image: url(../img/main/p1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content07 .n2 .img {
  background-image: url(../img/main/p2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*카드 내 텍스트*/
#content07 .card li {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}
#content07 .card li:nth-of-type(1) {
  font-size: 24px;
  margin-bottom: 39px;
}
#content07 .card li:nth-of-type(1) span {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  line-height: 150%;
  margin-left: 20px;
  color: #404040;
}


/*하단 배너*/
.banner {
  width: 100%;
  height: 701px;
  background-image: url(../img/main/main_banner02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-end;
}

/*푸터 영역*/
footer {
  width: 100%;
  height: 377px;
  /*padding: 70px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #123264;
  color: #fff;
  padding: 70px;
  align-items: flex-end;
}
/*좌측*/
footer .left {
  flex: 1;
  /*width: 606px;*/
  height: 237px;
  /*background-color: lightblue;*/
}
footer .left a img {
  width: 245px;
  height: 67px;
  margin-bottom: 5px;
}
footer .left p:nth-of-type(1) {
  font-family: 'NanumSquareBold';
  font-size: 16px;
  margin-bottom: 45px;
}
footer .left ul {
  margin-bottom: 15px;
}
footer .left li {
  display: inline-block;
  font-family: 'NanumSquareBold';
  font-size: 15px;
}
footer .left P:nth-of-type(2) {
  height: 60px;
  font-family: 'NanumSquareBold';
  font-size: 13px;
  line-height: 150%;
  /*background-color: lightcoral;*/
}


/*우측*/
footer .right {
  flex: 1;
  /*width: 275px;*/
  height: 214px;
  display: flex;
  flex-direction: column;   /* 요소를 위에서 아래로 쌓음 */
  align-items: flex-end;    /* 모든 자식 요소를 오른쪽 끝으로 밀어냄 */
  text-align: right;        /* 텍스트 내용 자체도 오른쪽 정렬 */
  /*background-color: lightblue;*/
}
footer .right .icon {
  /*width: 100%;*/
  height: 36px;           /* 부모 높이 고정 */
  display: flex;          /* 가로 나열 */
  align-items: center;    /* 수직 중앙 정렬 */
  justify-content: flex-end; /* 우측 끝으로 정렬 */
  gap: 18px;               /* 이미지 사이 간격 (선택사항) */
  /*background-color: lightcoral;*/
  margin-bottom: 20px;
}
footer .right img {
  height: auto;           /* 이미지 비율 유지 */
  max-height: 100%;       /* 부모 높이를 넘지 않게 설정 */
}
footer .right p:nth-of-type(1) {
  height: 36px;
  font-family: 'NanumSquareBold';
  font-size: 24px;
  margin-bottom: 40px;
}
footer .right p:nth-of-type(2) {
  height: 24px;
  font-family: 'NanumSquareBold';
  font-size: 16px;
  margin-bottom: 10px;
  /*background-color: lightcoral;*/
}
footer .right p:nth-of-type(3) {
  height: 48px;
  font-family: 'NanumSquareBold';
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  /*background-color: lightcoral;*/
}

/*페이지 상단 이동 퀵메뉴*/
.quick_menu {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #123264;
  padding: 7px 10px;
}
.quick_menu img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  /*ackground-color: lightcoral;*/
}
html {
  scroll-behavior: smooth; /* 스크롤 이동 부드럽게 */
}




/*반응형 미디어 쿼리 지정*/
/* 1200px 미만일 때 */
@media screen and (max-width:1199px) {
#main_banner {
  height: 1356px;
  background-image: url(../img/main/main_banner01-1.png);
  background-position: right;
}
.banner_text {
  top: 230px;
  left: 100px;
}

/*컨텐츠 2*/
#content02 {
  height: 1646px;
}
#content02 .title {
  margin-bottom: 50px;
}
/*컨텐츠 2 내용*/
#content02 .wrap {
  width: 100%;
  height: 1322px;
  /*background-color: aquamarine;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 가로 3칸을 동일한 비율로 꽉 채움 */
  grid-template-rows: repeat(2, 1fr); /* 세로 3칸을 동일한 비율로 꽉 채움 */
  gap: 70px 30px; /* 카드와 카드 사이의 간격 (상하좌우 모두 적용) */
  
  /* 디자인을 위한 추가 설정 (필요에 따라 수정) */
  width: 100%;
  height: 645px; /* 디자인에 맞춰 높이를 조절해 주세요 */
  margin: 0 auto; /* 화면 중앙 정렬 */
}

/*컨텐츠 4*/
#content04 {
  height: fit-content;
}
#content04 .wrap {
  height: 740px;
  flex-direction: column;
}
#content04 .category .text  {
  position: absolute;
  left: 63px;
  top: 50%;
  transform: translateY(-50%);
}
#content04 .n3 {
  background-color: #D0CFD0;
  background-image: url(../img/main/candle.png);
  background-size: cover;
  background-position: center 57%;
  background-repeat: no-repeat;
}

/*컨텐츠 6*/
#content06 {
  height: fit-content;
}
#content06 .wrap {
  height: fit-content;
  flex-direction: column;
}

#content06 .card {
  height: fit-content;
  padding: 30px;
}

#content06 .n2 {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

/*컨텐츠 7*/
#content07 {
  width: 100%;
  height: 1062px;
  padding: 100px 0;
 /* background-color: lightblue;*/
}
#content07 .wrap {
  height: 675px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#content07 .card {
  width: 66.9vw;
  height: 312.5px;
  padding: 20px;
  border: 1px solid #ccc;
  /*background-color: lightgreen;*/

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 40px;
}
#content07 .card.n2 {
  flex-direction: row-reverse;
  justify-content: space-between;
}

#content07 .card .img {
  width: 30vw;
  height: 272.5px;
  background-color: #fff;
  margin-bottom: 0px;
}
}

/* 900px 미만일 때 */
@media screen and (max-width:899px) {
header {
  /*background-color: lightcoral;*/
  padding: 15px 30px 10px;
}

header>a {
  margin-right: 0px;
}

.hamburger { display: block; } /* 햄버거 버튼 보이기 */

/* 모바일 네비게이션 랩 (초기에는 숨김) */
.nav_wrap {
  display: none; 
  position: absolute;
  top: 88px; /* 헤더 높이 밑에서부터 시작 */
  right: 0;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.7); /* 배경색 지정 (기존 디자인에 맞게 변경하세요) */
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  padding: 40px 40px 20px;
  flex-direction: column;
  gap: 20px;
}

/* 데스크탑의 가로 정렬 속성 무력화 및 세로 정렬 */
header .mainMenu_n1, 
header .mainMenu_n2 {
  display: block;
  width: 100%;
  height: auto;
  float: none; /* float 해제 */
  line-height: normal;
  text-align: center;
}

header .mainMenu_n1 ul, 
header .mainMenu_n2 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 30px; /* 메뉴 간격 */
}

header .mainMenu_n1 ul li, 
header .mainMenu_n2 ul li {
  float: none;
  margin-top: 0;
  /*background-color: lightblue;*/
}

header .mainMenu_n2 {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

header .mainMenu_n2 ul li:nth-of-type(3) img {
  margin-top: 0px;
}


/*상단 배너 안 문구*/
.banner_text p:nth-of-type(1) {
  font-size: 3.12vw;
}
.banner_text h1 {
  font-size: 8.9vw;
}
.banner_text p:nth-of-type(2) {
  font-size: 2.67vw;
}

/*컨텐츠 3*/
#content03 {
  height: 1244px;
  flex-direction: column;
}
/*타이틀 제목 및 내용*/
#content03 .title {
  margin-right: 0px;
}
/*우측 이미지*/
#content03 .img {
  flex: 1;
  height: 100%;
}

/*컨텐츠 5*/
#content05 {
  height: 1116px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 70px;
}
/*좌측 이미지*/
#content05 .img {
  flex: 1;
  height: 100%;
  margin-right: 0px;
}
/*타이틀 제목 및 내용*/
#content05 .title {
  /*width: 556px;*/
  height: fit-content;
  padding-right: 30px;
  /*background-color: lightcoral;*/
}

/*하단 배너*/
.banner {
  height: 400px;
}
}

/* 680px 미만일 때 */
@media screen and (max-width:679px) {
#main_banner {
  height: 800px;
}
.banner_text {
  top: 20%;
  left: 10%;
}
.banner_text p:nth-of-type(2) {
  margin-top: 30px;
}

/*컨텐츠1*/
#content01 p:nth-of-type(1) {
  font-size: 5.3vw;
}
#content01 p:nth-of-type(2) {
  font-size: 2.65vw;
}

/*컨텐츠2*/
#content02 {
  height: 1228px;
}
#content02 .wrap {
  height: 904px;
}
#content02 .image {
  height: 300px;
}


/*카드 내 텍스트*/
#content02 .card p:nth-of-type(1) {
  font-size: 2vw;
}
#content02 .card p:nth-of-type(2),
#content02 .card p:nth-of-type(3) {
  font-size: 2.85vw;
}

/*컨텐츠3*/
#content03 {
  height: 1244px;
}

/*컨텐츠6*/
#content06 .title {
  height: fit-content;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

/*컨텐츠 7*/
#content07 {
  width: 100%;
  height: fit-content;
  padding: 100px 70px;
 /* background-color: lightblue;*/
}
#content07 .wrap {
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#content07 .card {
  width: 100%;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ccc;
  /*background-color: lightgreen;*/

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#content07 .card.n2 {
  flex-direction: column;
}
#content07 .card .img {
  width: 100%;
  height: 200px;
}

/*각 컨텐츠별 텍스트 사이즈 조절*/

#content02 .title h2,
#content04 .title h2,
#content06 .title h2,
#content07 .title h2,
#content04 .category h2 {
  font-size: 5.882vw;  /*40px*/
}

#content03 .title h2:nth-of-type(1),
#content03 .title h2:nth-of-type(2),
#content05 .title h2 {
  font-size: 7vw;  /*48px*/
}

#content03 .title h3,
#content04 .title h3,
#content05 .title h3,
#content06 .title h3 {
  font-size: 2.945vw;  /*20px*/
}

#content07 .title p {
  font-size: 4.12vw;  /*28px*/
}

#content02 .title h4,
#content03 .title h4,
#content05 .title h4,
#content02 .title a,
#content03 button a,
#content05 button a {
  font-size: 2.465vw;  /*16px*/
}

#content04 .category h2 {
  margin-bottom: 20px;
}
#content04 .category p {
  font-size: 2.65vw;  /*18px*/
}

#content06 .card p:nth-of-type(1),
#content06 .card p:nth-of-type(2) {
  font-size: 4.7vw;  /*32px*/
}
#content06 .card p:nth-of-type(3) {
  font-size: 2.945vw;  /*20px*/
}

#content07 .card li,
#content07 .card li:nth-of-type(1) span {
  font-size: 2.465vw;  /*16px*/
}
#content07 .card li:nth-of-type(1) {
  font-size: 3.53vw;  /*24px*/
}

/*푸터영역*/
footer {
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 50px;
  gap: 50px;
}
/*좌측*/
footer .left {
  flex: none;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  background-color: lightblue;
}
footer .left a img {
  width: 36vw;
  height: auto;
  margin-bottom: 0px;
}
footer .left p:nth-of-type(1) {
  font-size: 2.35vw;
  margin-bottom: 12px;
}
footer .left ul,
footer .left>p:nth-of-type(2) {
  display: none;
}

/*우측*/
footer .right {
  flex: none;
  width: 100%;
  height: 76px;
  flex-direction: inherit;
  text-align: inherit;
  background-color: lightcoral;
  position: relative;
}

footer .right .icon {
  height: 26px;  /* 부모 높이 고정 */
  gap: 18px;     /* 이미지 사이 간격 (선택사항) */
  background-color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;
}
footer .right p:nth-of-type(1) {
  height: fit-content;
  font-size: 3.53vw;
  margin-bottom: 0px;
  background-color: lightgreen;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .right p:nth-of-type(2) {
  height: fit-content;
  font-size: 2.35vw;
  margin-bottom: 0px;
  background-color: lightgreen;
  position: absolute;
  bottom: 60%;
  right: 0;
}
footer .right p:nth-of-type(3) {
  height: fit-content;
  font-size: 2.35vw;
  background-color: lightgreen;
  position: absolute;
  bottom: 0;
  right: 0;
}


















}


/* 540px 미만일 때 */
@media screen and (max-width:539px) {
header {
  height: fit-content;
}

header>a {
  width: 128px;
  height: 49px;
}

.hamburger {
  width: 20px;
  height: 20px;
  /*background-color: lightgoldenrodyellow;*/
}
.hamburger span {
  height: 4px;
}
.hamburger span::before {
  top: -8px;
}
.hamburger span::after {
  top: 8px;
}


#content02,
#content07 {
  padding: 100px 35px;
}
#content03,
#content04,
#content05 {
  padding: 150px 35px;
}
#content06 {
  padding: 120px 35px;
}

/*컨텐츠 1*/
#content01 {
  height: fit-content;
  padding: 150px 0px;
  /*background-color: aqua;*/
}
#content01 p:nth-of-type(1) {
  width: fit-content;
  height: fit-content;
}
#content01 p:nth-of-type(2) {
  height: fit-content;
}

/*컨텐츠 2*/
#content02 {
  height: fit-content;
  background-color: #F0ECEA;
}
#content02 .title {
  margin-bottom: 30px;
}
#content02 .wrap {
  height: fit-content;
  /*background-color: lightblue;*/
  gap: 70px 30px; /* 카드와 카드 사이의 간격 (상하좌우 모두 적용) */
}
#content02 .card {
  flex: 1;
}
#content02 .image {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
#content02 .card p:nth-of-type(2) {
  margin: 3px 0px 15px;
}

/*컨텐츠 3*/
#content03 {
  height: 896px;
  /*background-color: lightblue;*/
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
#content03 .title h2:nth-of-type(2) {
  margin-bottom: 35px;
}
#content03 .title h3{
  margin-bottom: 70px;
}

/*컨텐츠 4*/
#content04 {
  height: fit-content;
  background-color: #F0ECEA;
}
/*타이틀 제목*/
#content04 .title {
  height: fit-content;
  margin-bottom: 70px;
}
/*컨텐츠 4 내용*/
#content04 .wrap {
  height: 600px;
  gap: 40px;
}

/*컨텐츠 5*/
#content05 {
  width: 100%;
  height: 840px;
  /*background-color: lightblue;*/
  /*align-items: center;*/
  gap: 50px;
}
#content05 .title h2 {
  margin-bottom: 35px;
}
#content05 .title h3{
  margin-bottom: 70px;
}

/*컨텐츠6*/
#content06 .card p:nth-of-type(2) {
  margin-bottom: 20px;
}

/*컨텐츠7*/
#content07 .title {
  margin-bottom: 40px;
}

/*하단 배너*/
.banner {
  height: 200px;
}

/*페이지 상단 이동 퀵메뉴*/
.quick_menu {
  width: 30px;
  height: 30px;
  right: 5%;
  bottom: 5%;
  border-radius: 5px;
  padding: 5px 6px;
}

}