@charset "UTF-8";

@font-face {
    font-family: 'KblJumpCondensed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-5@1.0/KBLJump_EB_CondensedTTF.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@import url('https://fonts.cdnfonts.com/css/hey-august');
/*
font-family: 'Hey August', sans-serif;
*/

/* 나눔 스퀘어 굵기별 폰트명
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareAcr';
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth; /* 스크롤 이동 부드럽게 */
}

header {
  width: 100%;
  height: 106px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 150px; *** */
  padding: 0 5%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;
}

header nav ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  /*background-color: lightblue;*/
}

header nav ul li a {
  font-family: 'NanumSquareAceb';
  font-size: 1.375rem;
}


/* 메인 영역 */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 인트로 */
#intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  padding-right: 50px;
  align-items: flex-end;
}

#intro .text {
  display: flex;
  flex-direction: column;
  /*background-color: lightsalmon;*/
}

#intro .text.left p {
  font-family: 'Hey August';
  /*font-size: 200px;*/
  font-size: 10.41vw;
  color: rgba(0, 0, 0, 0.1);
}

#intro .text.right {
  gap: 100px;
  margin-bottom: 10px;
}

#intro .text.right p:nth-of-type(1) {
  font-family: 'KblJumpCondensed';
  font-size: 3.65vw;
  color: #0F147A;
  text-align: right;
}

#intro .text.right p:nth-of-type(2) {
  font-family: 'KblJumpCondensed';
  font-display: swap;
  font-size: 5.2vw;
}


/* 스크롤 */
#scroll {
  margin-top: 200px;
  margin-bottom: 150px;
}


/* About Me */
#aboutMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 84px;
  justify-content: center;
  /*background-color: lightblue;*/
  padding-top: 150px;
}

/* 이미지 설정 */
#aboutMe .img_group {
  width: 436px;
  height: 570px;
  /*background-color: lightcoral;*/
  position: relative;
}

#aboutMe .back_img {
  width: 419px;
  height: 514px;
  border-radius: 95px 0 95px 0;
  background-color: #6F727A;
  position: absolute;
  left: 0;
  bottom: 0;
}

#aboutMe .top_img {
  width: 387px;
  height: 519px;
  background-image: url(./img/photo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 95px 0 95px 0;
  outline: 2px solid #ccc;
  outline-offset: 10px;
  margin: 10px;

  position: absolute;
  top: 0;
  right: 0;
}

/* 텍스트 설정 */
.title {
  font-family: 'KblJumpCondensed';
  font-size: 60px;
  color: #0F147A;
  background-color: #fff;
}

#aboutMe .text_group {
  display: flex;
  flex-direction: column;
  justify-content: center
}

#aboutMe .text_group p:nth-of-type(2) {
  font-size: 35px;
  line-height: 150%;
  margin-top: 76px;
}

#aboutMe .text_group p:nth-of-type(3),
#aboutMe .text_group p:nth-of-type(4) {
  font-size: 25px;
  line-height: 150%;
  margin-top: 76px;
  margin-top: 66px;
}

#aboutMe .text_group p span {
  font-family: 'NanumSquareAcb';
}


/* 프로필 */
#profile {
  width: 80.9vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 100px 70px 60px;
  margin: 150px 30px;
  border: 1px solid #000;
  border-radius: 20px;
}

#profile .title {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
}

/* 프로필 좌측 */
#profile .n1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*background-color: lightblue;*/
}

#profile .n1 li{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  line-height: 150%;
}

#profile .bold {
  min-width: 71px;
  font-family: 'KblJumpCondensed';
  font-size: 20px;
  /*background-color: lightgreen;*/
}

#profile .n1 li p:nth-of-type(1) {
  width: calc(71 / 272 * 100%);
  /*background-color: lightcoral;*/
}

#profile .n1 .keyword {
  margin-top: 56px;
  gap: 30px;
  /*background-color: lightcyan;*/
}

#profile .n1 .keyword .bold {
  width: fit-content;
}

/* 프로필 중앙 */
#profile .n2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: lightblue;*/
}

#profile .n2 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 150%;
}

#profile .n2 ul li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*background-color: lightcoral;*/
}


/* 프로필 우측 */
#profile .n3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: lightblue;*/
}

#profile .n3 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 150%;
}

#profile .n3 ul:nth-of-type(1) li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*background-color: lightcoral;*/
}

#profile .n3 ul:nth-of-type(2) li:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /*background-color: lightgoldenrodyellow;*/
}


/* 포트폴리오 */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 300px;
  /*background-color: lightblue;*/
}

#portfolio .n1 {
  display: flex;
  flex-direction: row;
  gap: 122px;
  /*background-color: lightgoldenrodyellow;*/
  margin-top: 200px;
}


#portfolio .n2 {
  display: flex;
  flex-direction: row;
  gap: 122px;
  /*background-color: lightsalmon;*/
  margin-top: 300px;
}

/* 텍스트 */
#portfolio .text {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  /*background-color: lightgreen;*/
}

#portfolio .text p:nth-of-type(1) {
  font-size: 26px;
  margin-bottom: 46px;
}

#portfolio .text p:nth-of-type(1) span {
  font-family: 'NanumSquareAcb';
  font-size: 32px;
}

#portfolio .text p:nth-of-type(2),
#portfolio .text p:nth-of-type(3) {
  font-size: 18px;
  line-height: 150%;
}

#portfolio .text p:nth-of-type(2) {
  margin-bottom: 30px;
}

#portfolio .text p:nth-of-type(3) {
  margin-bottom: 60px;
}

/* 버튼 설정 */
#portfolio .text .bt {
  display: flex;
  flex-direction: row;
  gap: 40px;
  /*background-color: lightslategrey;*/
}

#portfolio .text .bt a {
  padding: 15px 30px;
  font-family: 'NanumSquareAcb';
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
}

#portfolio .text .bt a:hover {
  background-color: #0F147A;
}



/* 모니터 내 이미지 설정 */
#portfolio .img {
  width: 629px;
  /*width: 629px;*/
  height: 491px;
  background-image: url(./img/monitor.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#portfolio .img .dearscent_img {
  /*width: 600px;*****/
  width: 96%;
  height: 300px;
  background-image: url(./img/portfolio01.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
}

#portfolio .img .edawon_img {
  width: 96%;
  height: 300px;
  background-image: url(./img/portfolio02.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
}


/*팀 작업*/
#teamPlay {
  /*background-color: lightblue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 300px;
}

#teamPlay .sub_title {
  font-family: 'NanumSquareAcb';
  font-size: 18px;
  color: #444;
  margin: 10px 0 70px;
}

#teamPlay .teamPlay_group {
  /*background-color: lightcoral;*/
  display: flex;
  flex-direction: row;
  gap: 70px;
}

#teamPlay .teamPlay_group .team {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center ;
}

#teamPlay .teamPlay_group .img {
  width: 355px;
  aspect-ratio: 7 / 5;
  /*height: 230px;*/
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

#teamPlay .teamPlay_group .melon { background-image: url(./img/melon02.png); background-size: 80%; }
#teamPlay .teamPlay_group .megacoffee { background-image: url(./img/mega02.png); background-size: 75%; }

#teamPlay .teamPlay_group .hidden {
  font-family: 'NanumSquareAcb';
  font-size: 18px;
  color: #444;
  opacity: 0;
  transition: 0.3s ease;
}

#teamPlay .teamPlay_group .melon:hover { background-image: url(./img/melon01.png); background-size: 60%; }
#teamPlay .teamPlay_group .megacoffee:hover { background-image: url(./img/mega01.png); background-size: 30%; }

#teamPlay .teamPlay_group .img:hover ~ .hidden {
  opacity: 1;
}


/* 푸터영역 */
footer {
  width: 100%;
  /*height: 473px;*/
  background-color: #0D0E26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
  color: #fff;
  gap: 50px;
}

footer p:nth-of-type(1) {
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}

footer p:nth-of-type(2) {
  font-family: 'NanumSquareAcb';
  font-size: 45px;
}

footer p:nth-of-type(3) {
  font-family: 'NanumSquareAcl';
  font-size: 15px;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}



/*반응형 미디어 쿼리 지정*/
/* 1400px 미만일 때 */
@media screen and (max-width:1399px) {
#aboutMe {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#profile .n1 li{
  font-size: 15px;
}
#profile .bold {
  font-size: 16px;
}
#profile .n2 ul {
  font-size: 15px;
}
#profile .n3 ul {
  font-size: 15px;
}
}

/* 1200px 미만일 때 */
@media screen and (max-width:1199px) {
#profile {
  width: fit-content;
  flex-direction: column;
  gap: 70px;
}
#profile .n2,
#profile .n3 {
  gap: 70px;
}
#profile .n1 li{
  font-size: 18px;
  gap: 0;
}
#profile .bold {
  font-size: 20px;
}
#profile .n2 ul {
  font-size: 18px;
}
#profile .n3 ul {
  font-size: 18px;
}
#portfolio .n1 {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
#portfolio .n2 {
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  text-align: center;
}
#portfolio .text .bt {
  justify-content: center;  
}
}

/* 900px 미만일 때 (탭) */
@media screen and (max-width:899px) {
#intro {
  flex-direction: column-reverse;
  gap: 100px;
}
#intro .text.left {
  width: 100%;
}
#intro .text.left p {
  font-size: 13vw; /*85px*/
}
#intro .text.right {
  gap: 45px;
}
#intro .text.right p:nth-of-type(1) {
  font-size: 45px;
}
#intro .text.right p:nth-of-type(2) {
  font-size: 65px;
}
.title {
  font-size: 50px;
}
#aboutMe .text_group p:nth-of-type(2) {
  font-size: 3.6vw; /*27*/
}
#aboutMe .text_group p:nth-of-type(3),
#aboutMe .text_group p:nth-of-type(4) {
  font-size: 2.5vw; /*18*/
}
#portfolio .n1 {
  margin-top: 100px;
}
#portfolio .img {
  width: 448px;
  height: 350px;
}
#portfolio .img .dearscent_img,
#portfolio .img .edawon_img {
  width: 96%;
  height: 214px;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
}

#teamPlay .sub_title,
#teamPlay .teamPlay_group .hidden {
  font-size: 14px;
}

#teamPlay .teamPlay_group .hidden {
  opacity: 1;
}

#teamPlay .teamPlay_group {
  gap: 40px;
}

#teamPlay .teamPlay_group .img {
  width: 29.5vw;
}

}


/* 540px 미만일 때 (스마트폰) */
@media screen and (max-width:539px) {
header img {
  width: 90px;
  height: 55px;
}
header nav ul{
  gap: 20px;
}
header nav ul li a {
  font-size: 13px;
}
#intro .text.right p:nth-of-type(1) {
  font-size: 34px;
}
#intro .text.right p:nth-of-type(2) {
  font-size: 50px;
}

/*자기소개*/
#aboutMe .img_group {
  width: 255px;
  height: 335px;
}
#aboutMe .back_img {
  width: 223px;
  height: 300px;
}
#aboutMe .top_img {
  width: 223px;
  height: 300px;
}

/*포트폴리오*/
#profile .n1 li{
  font-size: 11px;
}
#profile .bold {
  font-size: 12px;
}
#profile .n2 ul {
  font-size: 11px;
}
#profile .n3 ul {
  font-size: 11px;
}

#profile .n3 ul:nth-of-type(2) li:nth-of-type(2) {
  gap: 15px;
}
#profile .n3 img {
  width: 25px;
  height: 25px;
}
#profile .n3 img:nth-of-type(5) {
  width: 43px;
}
#portfolio .img {
  width: 320px;
  height: 250px;
}
#portfolio .img .dearscent_img,
#portfolio .img .edawon_img {
  width: 96%;
  height: 154px;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
}

#portfolio .text p:nth-of-type(1) {
  font-size: 18px;
}
#portfolio .text p:nth-of-type(2),
#portfolio .text p:nth-of-type(3) {
  font-size: 16px;
}
#portfolio .text .bt {
  gap: 20px;
}
#portfolio .text .bt a {
  font-size: 15px;
}
#portfolio .text .bt a:nth-of-type(2) {
  background-color: #0F147A;
}

/*팀 작업*/
#teamPlay .teamPlay_group .hidden {
  font-size: 10px;
}

#teamPlay .teamPlay_group .hidden {
  opacity: 1;
}

#teamPlay .teamPlay_group {
  gap: 30px;
}

#teamPlay .teamPlay_group .img {
  width: 29.5vw;
  border-radius: 10px;
}

/*푸터영역*/
footer p:nth-of-type(1) {
  font-size: 14px;
}
footer p:nth-of-type(2) {
  font-size: 24px;
}
footer p:nth-of-type(3) {
  font-size: 11px;
}

#scroll img {
  width: 36px;
  height: 35px;
}
}