@charset "UTF-8";

/* 나눔 스퀘어 굵기별 폰트명
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
*/

/* Playfair Display 굵기별 수치
font-weight: 400;  Regular
font-weight: 500;  Medium
font-weight: 600;  SemiBold
font-weight: 700;  Bold
font-weight: 800;  ExtraBold
font-weight: 900;  Black
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareAcb';
}

body {
  background-color: #FAFAF9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 35px;
}

html {
  scroll-behavior: smooth; /* 스크롤 이동 부드럽게 */
}

/* 헤더 영역 */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* 상단 띠 배너 */
#top-notice {
  width: 100%;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 50px 12px 62.2px;
  background-color: #003811;
}

#top-notice p {
  width: 100%;
  color: #fff;
  font-size: 15px;
  text-align: center;
  /*background-color: lightblue;*/
}

.close-btn {
  border: none;
  background-color: #003811;
  cursor: pointer;
}

#top-notice img {
  display: block;
}

/* 헤더 내 네비 */
nav {
  width: 100%;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 280px;    /* w 29px */
  background-color: #FAFAF9;
  border-bottom: 1px solid #ddd;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  /*background-color: lightblue;*/
}

/* 좌우에 고정 */
nav .nav_left { justify-content: left; }
nav .nav_right { justify-content: right; }

nav ul li {
  font-size: 15px;
}

nav .nav_left li a {
  position: relative;
  display: inline-block;
  /*background-color: lightgreen;*/
  /*transition: all 0.3s;*/
}

.nav_left li a:hover {
  color: transparent; /* 기존 'SHOP' 글자를 투명하게 숨김 */
}

.nav_left li a::after {
  content: attr(data-hover); /* HTML의 data-hover 값을 가져옴 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* 평소에는 안 보이게 */
  /*transition: all 0.3s;*/
  white-space: nowrap;
}

.nav_left li a:hover::after {
  opacity: 1; /* 호버 시 '쇼핑' 등장 */
  color: #003811; /* 포인트 컬러 */
}

.nav_left li .point {
  color: #003811; /* 포인트 컬러 */
  border-bottom: 1px solid #003811;
}


/* 검색창 영역 */
nav .nav_right .ck_input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* 체크박스 숨기기 */
nav .ck_input .hidden-check {
  display: none;
}

/* 입력창 초기 상태 (숨김) */
nav .ck_input .search_area {
  border: none;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 100px;
  
  /* 숨김 설정 */
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  
  /* 펼쳐질 때 효과 */
  transition: all 0.3s ease-in-out; 
  outline: none; /* 입력창 클릭 시 생기는 까만 테두리 제거 */
}

/* 체크박스가 선택되었을 때 펼침 상태 */
.hidden-check:checked + .search_area {
  max-width: 200px; /* 입력창 넓이에 맞춰 조절 */
  opacity: 1;
  padding: 0 10px;
}


/* 메인 영역 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prod_info {
  width: calc(1360 / 1920 * 100%);
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#prod_info .left {
  width: calc(820 / 1360 * 100%);
  border-right: 1px solid #ddd;
  padding-right: 40px;
}

#prod-pic {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  gap: 20px;
}

#big {
  width: calc(573.31 / 780 * 100%);
  height: 600px;
  object-fit: cover;
}

#small-pic {
  width: calc(186.69 / 780 * 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*background-color: lightblue;*/
}

#small-pic .small {
  width: 100%;
  height: 186.67px;
  object-fit: cover;
  background-color: #fff;
}

#small-pic img:hover {
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

#content aside {
  flex: 1;
  height: 95px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

main aside a {
  flex: 1;
  height: 100%;
  padding: 10px 0 ;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid #555;
  text-align: center;
}

#content aside a:nth-of-type(1),
#inf aside a:nth-of-type(2),
#review aside a:nth-of-type(3) {
  background-color: #555;
  color: #fff;
}

#content .content_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding-top: 100px;
  padding-bottom: 80px;
  /*background-color: lightcyan;*/
}

#content .content_wrap>p {
  font-family: 'NanumSquareAcr';
  font-size: 16px;
  line-height: 25px;
}

#content .content_wrap>p:nth-of-type(1) {
  font-size: 30px;
}

/* 보더 안 내용 */
#content .content_wrap ul {

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 40px;
  border: 1px solid #555;
  border-radius: 20px;
}

#content .content_wrap ul li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30px;
  font-size: 15px;
  line-height: 25px;
}

#content .content_wrap ul li p:nth-of-type(1) {
  width: 80px;
  text-align: right;
}

/* 하단 이미지 2장 */
#content .content_img {
  width: 100%;
  height: 233.5px;
  background-color: #fff;
}

#content .content_img.n1 {
  background-image: url(../img/detail/colombia02.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

#content .content_img.n2 {
  background-image: url(../img/detail/roasting.jpg);
  background-size: cover;
  background-position: center;
}


/* 메인영역 - 우측 */
#prod_info .right {
  width: calc(500 / 1360 * 100%);
  padding-top: 30px;
  /*background-color: lightblue;*/
}

#prod_info form {
  display: flex;
  flex-direction: column;
}

#prod_info form>p:nth-of-type(1) {
  font-size: 25px;
  margin-bottom: 20px;
}

#prod_info form>p:nth-of-type(2) {
  font-size: 18px;
  line-height: 25px;
  color: #555;
  margin-bottom: 52px;
}

#prod_info form .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

#prod_info form .info li {
  display: flex;
  flex-direction: row;
  gap: 28px;
  font-size: 15px;
  color: #555;
}

#prod_info form .info li p:nth-of-type(1) {
  width: 52px;
  color: #000;
}

#prod_info form .info li:nth-of-type(3) p:nth-of-type(2) {
  font-family: 'NanumSquareAceb';
}

#prod_info form .info li:nth-of-type(3) p:nth-of-type(2) del {
  font-family: 'NanumSquareAcb';
  font-size: 13px;
  color: #ccc;
}

#prod_info form .info li:nth-of-type(3) p:nth-of-type(2) span{
  font-family: 'NanumSquareAcb';
  color: #FF0606;
}

#prod_info form .input_group.n1 {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;;
}

#prod_info form .input_group.n1 li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px 10px;
}

#prod_info form .input_group.n1 li:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
}

#prod_info form .input_group.n1 li p {
  width: calc(53 / 500 * 100%);
  font-size: 15px;
  line-height: 25px;
  color: #555;
}

#prod_info form .input_group.n1 li div {
  display: flex;
  flex-direction: row;
  /*background-color: lightgoldenrodyellow;*/
}

#prod_info form .input_group.n1 li label {
  font-size: 15px;
  line-height: 25px;
  color: #555;
  margin-left: 5px;
  margin-right: 14px;
}

#prod_info form .price {
  padding: 30px 0;
  text-align: right;
  font-size: 20px;
}


#prod_info form .input_group.n2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  /*background-color: lightsalmon;*/
  margin-bottom: 10px;
}

#prod_info form .input_group.n2 .heart {
  flex: 0 0 calc(40 / 500 * 100%);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

#prod_info form .input_group.n2 .heart input {
  display: none;
}

#prod_info form .input_group.n2 .heart label {
  width: 20px;
  height: 17.86px;
  background-image: url(../img/icon/heart_b.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* 체크박스 활성화 시 하트 색상 변경 */
#prod_info form .input_group.n2 #heart:checked ~ label {
  background-image: url(../img/icon/heart_r.png);
}

#prod_info form .input_group.n2 button {
  flex: 2;
  padding: 10px 30px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
}

#prod_info form .input_group.n2 button:nth-of-type(1) {
  flex: 1;
}

#prod_info form .input_group.n2 button:nth-of-type(3) {
  background-color: #222;
  color: #fff;
}

#prod_info form>button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #00DE5A;
  cursor: pointer;
  font-size: 13px;
}

#prod_info form>button:hover {
  background-color: #00973E;
}


/* 구매정보 */
#inf,
#review {
  width: calc(1360 / 1920 * 100%);
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

#inf aside,
#review aside {
  width: calc(780 / 1360 * 100%);
  height: 95px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#inf .inf_wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
}

#inf .inf_wrap div {
  flex: 1;
  height: 189px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #555;
  border-radius: 0 0 20px 20px;
  font-size: 15px;
  line-height: 25px;
  color: #777;
}

#inf .inf_wrap div p:nth-of-type(1) {
  font-size: 16px;
  color: #000;
}


/* 리뷰 */
#review>a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 5px;
  font-size: 15px;
  line-height: 40px;
  padding-top: 30px;
}

#review .review_wrap {
  display: flex;
  flex-direction: column;
}

#review .review_wrap input {
  display: none;
}

#review .review_wrap .teb {
  width: 100%;
  display: none;
  flex-direction: column;
  border-top: 1px solid #555;
  margin-bottom: 20px;
}

#review .review_wrap .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px;
  border-bottom: 1px solid #555;
  font-size: 16px;
  line-height: 25px;
  color: #777;
}

#review .review_wrap .list>p:nth-of-type(1) {
  width: 40px;
  text-align: center;
}

#review .review_wrap .list>p:nth-of-type(2) {
  flex: 1;
  color: #000;
}


/* 페이지 이동 버튼 */
#review .sub_filters {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /*background-color: lightgray;*/
}

#review .sub_filters .wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 10px;
}

#review .sub_filters label {
  flex: 1;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 11px;
  font-size: 15px;
  color: #555;
}

#review .sub_filters label:hover {
  color: #000;
}

/* 체크박스 활성화 시 디자인 */
#review_tab01:checked ~ .sub_filters label[for="review_tab01"],
#review_tab02:checked ~ .sub_filters label[for="review_tab02"],
#review_tab03:checked ~ .sub_filters label[for="review_tab03"] {
  background-color: #555;
  border-radius: 100%;
  color: #fff;
}

/*탭메뉴 동작*/
#review_tab01:checked ~ .review_list_A,
#review_tab02:checked ~ .review_list_B,
#review_tab03:checked ~ .review_list_C {
  display: flex; /* gap 유지를 위해 block 이 아닌 flex 사용 */

  /* 나타날 때 fadeUp 애니메이션을 0.4초 동안 부드럽게 실행 */
  animation: fadeUp 0.4s ease-in-out forwards;
}


/* 퀵버튼 */
#quick_button {
  position: absolute;
  width: 50px;
  height: 96px;
  background-color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  border: 0.5px solid #C5C5C5;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  top: 82%;
  right: 3%;
  position: fixed;
}

#quick_button .bt {
  width: 100%;
  height: 40px;
  /*background-color: lightblue;*/
  background-size: cover;
  background-position: center;
}

#quick_button .up { background-image: url(../img/icon/up_b.png); }
#quick_button .down { background-image: url(../img/icon/down_b.png); }

/* 버튼 호버 시 색상 변경 */
#quick_button .up:hover { background-image: url(../img/icon/up_g.png); transition: 0.1s ease; }
#quick_button .down:hover { background-image: url(../img/icon/down_g.png); transition: 0.1s ease; }

/* 구분선 */
#quick_button .line {
  width: 20px;
  height: 1px;
  background-color: #9E9E9E;
}

/* 스크롤 이동 시 상단 여백 추가 */
section {
  /* 화면 높이(50vh) 정도의 여백을 스크롤 위치에 부여 */
  scroll-margin-top: 10vh; 
}


/* 푸터 영역 */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 70px 100px;
  background-color: #222;
  z-index: 1;
}

/* 푸터 상단 */
footer .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

/* 상단 좌측 영역 */
footer .top .left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
}

footer .top .left ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5px;
  font-size: 15px;
  color: #ccc;
}

/* 소셜 영역 */
footer .top .sns {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
}

/* 푸터 구분선 */
footer .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/* 푸터 하단 */
footer .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

footer .bottom>div {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2%;
  color: #ccc;
}

footer .bottom span {
  font-size: 20px;
}

footer .bottom .right a {
  color: #1481FF;
}



/*애니메이션 효과*/

/* 탭 부드러운 등장 애니메이션 */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px); /* 아래에서 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 제자리로 */
  }
}